<header>
    <nav class="row">
        <ul class="nav col">
            <li class="active">
                <a href="/">
                    <img class="siteLogo" src="../assets/images/tm-logo-desktop.png" alt="Trend Micro Cloud Governance Workshop Logo"/>
                </a>
            </li>
        </ul>
        <div class="displayInline col">
            <table>
                <tr class="bolderText titleText">Cloud Governance</tr>
                <tr class="boldText subTitleText">Workshop Quiz</tr>
            </table>
        </div>
        <div id="clockdiv-event" class="col displayInline marginTop floatRight" ng-hide="checked">
            <div>
                <div id="eventHours" class="hours redText"></div>
                <!-- <div class="eventText">Hours</div> -->
            </div>
            <span class="redText">:</span>
            <div>
                <div id="eventMinutes" class="minutes redText"></div>
                <!-- <div class="eventText">Minutes</div> -->
            </div>
            <span class="redText">:</span>
            <div>
                <div id="eventSeconds" class="seconds redText"></div>
                <!-- <div class="eventText">Seconds</div> -->
            </div>
        </div>
        <!-- <div class="displayInline margin15 floatRight teamName">
            Team A
        </div> -->
    </nav>
    <div *ngIf="showConformityLink" class="container marginTop marginBottom marginLeft">
        <a href="https://www.cloudconformity.com/" target="_blank">
            <span class="siteGradient siteAlert marginRight">NEW</span>
            <span class="marginRight">Click here for Trend Micro Cloud Conformity</span>
            <span class="marginRight">
                <img src="../../../assets/images/right_arrow_grey.svg"/>
            </span>
        </a>
    </div>
    <script>
        let eventDeadline;
        let eventTimeValue = 90;

        // if there's a cookie with the name currentTimerCutOff, use that value as the deadline
        if (document.cookie && document.cookie.match('currentEventTimerCutOff')) {
            // get deadline value from cookie    
            eventDeadline = document.cookie.match(/(^|;)currentEventTimerCutOff=([^;]+)/)[2];
        } else {
            eventDeadline = setEventTimer(eventTimeValue);
            document.cookie = 'currentEventTimerCutOff=' + eventDeadline + '; samesite=strict;';    
        }

        function setEventTimer(mins = 90) {
            console.log("--- Reset Event Timer ---");
            let currentTime = Date.parse(new Date());
            let milliseconds = mins * 60 * 1000;
            newTime = new Date(currentTime + milliseconds);
            console.log(newTime);
            document.cookie = 'currentEventTimerCutOff=' + newTime + '; samesite=strict;';
            document.cookie = 'currentEventTimerTime=' + milliseconds + '; samesite=strict;';
            return newTime;
        }

        function killEventTimer() {
            let currentEventTime = new Date();
            document.cookie = 'currentEventTimerCutOff=' + currentEventTime + '; samesite=strict; expires=' + currentEventTime + ';';
        }

        function updateEventTimerBackend(currentEventTimerTime) {
            document.cookie = 'currentEventTimerTime=' + currentEventTimerTime + '; samesite=strict;';
        }

        function initializeEventClock(eventTimeValue = 90) {

            eventEndtime = setEventTimer(eventTimeValue);
            
            let eventHoursSpan = document.getElementById('eventHours');
            let eventMinutesSpan = document.getElementById('eventMinutes');
            let eventSecondsSpan = document.getElementById('eventSeconds');

            function updateEventClock() {
                let et = getEventTimeRemaining(eventEndtime);

                updateEventTimerBackend(et.total);        
                
                eventHoursSpan.innerHTML = ('0' + et.hours).slice(-2);
                eventMinutesSpan.innerHTML = ('0' + et.minutes).slice(-2);
                eventSecondsSpan.innerHTML = ('0' + et.seconds).slice(-2);

                if (et.total <= 0) {
                    killEventTimer();
                    clearInterval(eventTimeinterval);
                }
            }

            updateEventClock();
            let eventTimeinterval = setInterval(updateEventClock, 1000);
        }

        function getEventTimeRemaining(eventEndtime) {
            let total = Date.parse(eventEndtime) - Date.parse(new Date());
            let seconds = Math.floor((total / 1000) % 60);
            let minutes = Math.floor((total / 1000 / 60) % 60);
            let hours = Math.floor((total / (1000 * 60 * 60)) % 24);
            // let days = Math.floor(total / (1000 * 60 * 60 * 24));

            return {
                total,
                // days,
                hours,
                minutes,
                seconds
            };
        }

// initializeEventClock(eventTimeValue);
    </script>
</header>

<router-outlet></router-outlet>