<header>
    <nav class="row">
        <ul class="nav col">
            <li class="active">
                <a href="/">
                    <img class="siteLogo" src="../assets/images/tm-logo-desktop.png"
                        alt="Trend Micro Cloud Governance Workshop Logo" />
                </a>
            </li>
        </ul>
        <div class="displayInline col">
            <table class="container">
                <tr class="bolderText titleText">Cloud Governance</tr>
                <tr class="boldText subTitleText">Workshop Quiz</tr>
            </table>
        </div>
        <div id="clockdiv-event" class="col displayInline floatRight" ng-hide="checked">
            <!-- <div class="eventText">Hours</div> -->
            <!-- <div class="eventText">Minutes</div> -->
            <!-- <div class="eventText">Seconds</div> -->
            <!-- <div>
                <div id="eventHours" class="hours redText">{{ gameClockHours }}</div>
            </div>
            <span class="redText">:</span>
            <div>
                <div id="eventMinutes" class="minutes redText">{{ gameClockMinutes }}</div>
            </div>
            <span class="redText">:</span>
            <div>
                <div id="eventSeconds" class="seconds redText">{{ gameClockSeconds }}</div>
            </div> -->
            <!-- <countdown #gameCountdown [config]="gameClockConfig" (event)="updateLocalStorageGameTimer($event)" class="redText"></countdown> -->
        </div>
        <!-- <div class="displayInline margin15 floatRight teamName">
            Team A
        </div> -->
    </nav>
    <div *ngIf="showConformityLink" class="container marginTop marginBottom marginLeft">
        <a href="https://www.cloudconformity.com/" target="_blank">
            <span class="siteGradient siteAlert marginRight">NEW</span>
            <span class="marginRight">Click here for Trend Micro Cloud Conformity</span>
            <span class="marginRight">
                <img src="../../../assets/images/right_arrow_grey.svg" />
            </span>
        </a>
    </div>
</header>

<!-- End Game Modal -->
<div class="modal fade" id="endGameModal" tabindex="-1" role="dialog" aria-labelledby="endGameModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="endGameModalLabel">Skipping a question?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Please Note:</strong> In real-time there is no option to skip an attack.</p>
                <p>Continue Skipping?</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>