.customButton { 
    color: white;
    background-color: #CC0001;
    font-weight: 600;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: medium;
    width: 80%;
    margin-left: 10%;
}

.loginForm {
    margin-top: 25%;
}

.pageTitle {
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    font-family: 'Arial'; 
    padding: 0.75rem 0 0 0; 
    text-align: center;
}

.marginTop {
    margin-top: 2rem;
}

input {
    height: 3rem;
}

.errorMessageText {    
    font-size: 1rem;
    color: #ED2939;
}

.boldText {
    font-weight: bolder;
}

.boldLabel {
    font-weight: bolder;
    font-size: 1.35rem;
}