<div class="container">
    <div class="row marginBottom marginTop">
        <div class="container centerText mainText">Choose Your Difficulty Level</div>
    </div>
    <div class="row tableRow">
        <div class="container centerText subText">
            <span><img src="../../../assets/images/idea.svg" class="icon" alt="bulb" /></span>
            Remember each difficulty level has its own score points and time limit
        </div>
    </div>
    <div class="row">
        <div class="container tableRow">
            <div class="row">
                <div class="col-sm">
                    <button class="btn green buttonCategory" (click)="getNextQuestion()">Easy</button>
                    <p class="centerText marginTop greyText">15 points</p>
                    <p class="centerText greyText">5 minutes</p>
                </div>
                <div class="col-sm">
                    <button class="btn amber buttonCategory" (click)="getNextQuestion()">Medium</button>
                    <p class="centerText marginTop greyText">30 points</p>
                    <p class="centerText greyText">10 minutes</p>
                </div>
                <div class="col-sm">
                    <button class="btn red buttonCategory" (click)="getNextQuestion()">Hard</button>
                    <p class="centerText marginTop greyText">60 points</p>
                    <p class="centerText greyText">20 minutes</p>
                </div>
            </div>
        </div>
    </div>
</div>