<div class="container">
    
    <div class="marginBottom">
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="name" class="form-control" id="projectName" placeholder="cgw-*"/>
            </div>
            <div class="form-group">
                <label for="teamName">Team Name</label>
                <input type="name" class="form-control" id="teamName" placeholder="Team Name"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"/>
            </div>
            <div class="row">
                <div class="col align-self-start">
                    <button type="submit" class="siteGradient callToActionButton marginBottom">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>