<div class="paddingQuestion">

    <!-- <div *ngFor="let question of questions" class="form-row"> -->

      <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>

        <!-- <div class="form-row">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Check Answer</button>
        </div> -->

      </form>
    <!-- </div> -->
  
    <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div> -->
</div>

