<div class="row">
  <button *ngIf="showLogOut" class="btn logoutButton" (click)="logOut()">
    <img src="../assets/images/exit-logout.svg"/>
  </button>
  <div class="paddingQuestion">

      <!-- <div *ngFor="let question of questions" class="form-row"> -->

        <form (ngSubmit)="onSubmit()"> <!-- [formGroup]="form" -->

          <app-dynamic-form-question></app-dynamic-form-question> <!-- [question]="question" [form]="form" -->
          <!-- <div class="form-row">
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Check Answer</button>
          </div> -->

        </form>

      <!-- </div> -->
    
      <!-- <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
      </div> -->
  </div>
</div>
<div class="container">
  <div class="footerText">Disclaimer:</div>
  <span class="footerSubText">For all answers, please make sure to copy all information straight from the console versus shortening or elongating them. Also, please make sure to enter the full form of words, numbers (in words) for answers. Some common words that are accepted as answers (use proper tense) are: <strong>open, enable, expose, restrict, remove, unused</strong>. If you believe you have the correct answer and it is not accepted, ask for help or reach out to the admins to confirm your answer for you.</span>
</div>