.paddingQuestion {
   padding: 2rem;
}

.customButton { 
   color: grey;
   font-weight: 700;
   padding: 1rem 3rem;
   border: 0;
   border-radius: 0.5rem;
   font-size: medium;
   background-color: #ddd;
   margin: 1rem;
}

.logoutButton {
   position: absolute;
   max-width: 5rem;
   max-height: auto;
   padding: 0.5rem;
   left: 90%;
   background-color: #E6E7E9;
   border-radius: 3rem;
}

.logoutButton img {
   max-width: 3.5rem;
   max-height: auto;
   padding: 0.5rem;
}