<button *ngIf="showLogOut" class="btn logoutButton" (click)="logOut()">
  <img src="../assets/images/exit-logout.svg"/>
</button>
<div class="paddingQuestion">

    <!-- <div *ngFor="let question of questions" class="form-row"> -->

      <form (ngSubmit)="onSubmit()"> <!-- [formGroup]="form" -->

        <app-dynamic-form-question></app-dynamic-form-question> <!-- [question]="question" [form]="form" -->
        <!-- <div class="form-row">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Check Answer</button>
        </div> -->

      </form>

    <!-- </div> -->
  
    <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div> -->
</div>

